*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.Calculator{
    border: 1px solid #717371;
    padding: 20px;
    border-radius: 16px; 
    background: transparent; 
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);  
}   
input{
border: none;
width: 320px;
margin: 24px;
padding: 10px;
background: rgba(0, 0, 0, 0.3);
font-size: 65px;
text-align: right;
color: #fff;
text-shadow: 0px 1px 5px rgba(red, green, blue, alpha);
background: transparent;
}
input::placeholder{
    color:#fff ;
}
button{
width: 60px; 
height: 60px;
margin: 10px;
color: #fff;
background: rgba(0, 0, 0, 0.7);
font-size: 24px;
cursor: pointer;
border: solid 1px rgba(255, 255, 255, 0.2) ;
border-radius:25px;
} 
button:hover{
    color: #fff;
    background: #f67c14;
}
.ac,.del{
        background-color: rgb(190, 78, 38);

}
.operator{
    background-color: rgb(190, 78, 38);
}
.equalbtn{
        background-color: rgb(190, 78, 38);

}
